

// Primary colors

$Pink: #ff52bf;
$Light-Pink: 	#ff8fd8;
$Light-Red: #ff4242;

// Neutral colors
$gray:#999;
$Very-Dark-Cyan: 	#00252e;
$Very-Pale-Blue: 	#f5faff;


$container-max:1200px;
@mixin Mypadding {
    	padding-left: 5%;
        padding-right: 5%;
}
@mixin text-max-width {
    max-width:500px;
}
@mixin container-max-width {
    max-width:$container-max;
    
}
// Headings fonts
/*
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700
### Body
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


body{
    font-size: 1.35rem;
    padding: 0;
    background-color: #fff;
    margin: 0;
    font-family: 'Open Sans' ,tahoma, sans-serif;
    text-align: center;
}
input:hover,button:hover{
    cursor: pointer;
    opacity: 0.7;
}
h1,h2,h3{
    color: $Very-Dark-Cyan;
    font-family: Poppins, 'Open Sans' ,tahoma, sans-serif;

}
p{
    line-height: 2;
    @include text-max-width();
}
header{
    display: flex;
    flex-direction: row;
    padding:10px;
    @include Mypadding();
    padding-top: 1.7rem;
    align-items: center;
    justify-content: space-between;
    img{
     width: 200px;
    }
    button{
        color: $Pink;
        border: 1px solid $Pink;
        background-color: transparent;
        display: block;
        padding: 5px 15px;
        border-radius: 20px;
        box-shadow: 0 0 1px $Pink;
        text-transform: capitalize;
        &:hover{
            cursor: pointer;
        }

    }

}

.hero{
    padding: 10px;
    @include Mypadding();
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 15px;
    p{
        color: $Very-Dark-Cyan;

    }
    button{
        background-color: $Pink;
        color: #eee;
        padding: 15px 50px;
        border-radius: 50px;
        border: none;
        box-shadow: 0 0 10px rgba(50,50,50,0.5);
        font-weight: bolder;
    }


}
.statics{
    display: grid;
    @include Mypadding();
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    margin: auto auto;
    @include container-max-width();
    .img-screen-mockups{
        
        width: calc(0.65*100vw);
        max-width:calc(0.65*$container-max); ;
        grid-column: 1/-1;
    }
    .item{
        text-align: left;
        grid-column: 2;
        grid-row: span 1;
        color: $Very-Dark-Cyan;
        h3{
            font-size: 72px;
            margin: 0;
        }
        h4{
            font-weight: lighter;
            text-align: center;
            color: $gray;
        }
    }

}
.curved{
    width:100%;
    margin: -2px;
    padding: 0;
    display: block;
}
.curved-desktop{
    display: none;
}
.grow-together,.conversation,.users{
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: contain;
    p{
        margin: 0 auto;
    }
    .container{
        grid-row-gap: 100px;
        grid-template-columns: 1fr 2fr 1fr;
        @include Mypadding();
        @include container-max-width();
        grid-template-rows: auto;
        display: grid;
        margin: 0 auto;

    }
    .text{
        grid-column: 1/-1;
        grid-row: 2;
    }
    .image{
        grid-column: 1/-1;
        width: 90%;
        justify-self: center;
    }
}
.grow-together,.users{
    background-color: $Very-Pale-Blue;
}
.ready-to-build{
        @include Mypadding();
        font-size: 80%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 120px 0;
    .get-started{
        background-color: $Pink;
        color: #eee;
        padding: 15px 50px;
        border-radius: 50px;
        border: none;
        box-shadow: 0 0 10px rgba(50,50,50,0.5);
        font-weight: bolder;
    }
}
    footer{
        background-color: $Very-Dark-Cyan;
        color: $Very-Pale-Blue;
        .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        row-gap: 100px;
        line-height: 2;
        margin-top: 0;
        margin: 0 auto;
        padding: 20px;
        @include container-max-width();
        }
    .logo{
        size: 10%;
    }
    .logo path{
        fill: white;
    }
    .News-letter{
        color: $Very-Pale-Blue;
        text-transform: uppercase;
        font-weight: 300;
    }
    .col{
    text-align:left;
    }
    .col-1{
        grid-column: 1/-1;
        grid-row: 2;
        ul.contact{
            list-style: none;
            margin: 25px;
            line-height: 3;
            padding: 0;
            li {
                display: flex;
                align-items: center;
                img{
                    margin-right: 15px;
                }
            }
        
            
        }
        .social{
            display: flex;
            gap: 10px;
            font-size: 30px;
            a{
                color: $Very-Pale-Blue;
                padding: 0;
            }
            a:hover{
                cursor: pointer;
                .facebook{
                    color: #4267B2;
                    
                }
                .twitter{
                    color:#1DA1F2;
                    
                }
                .instagram{
                    color: #f15245;
                

                }
                
            }
        }

    }
    .col-2{
        grid-column: 1/-1;
        grid-row: 1;
        .subscribe{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-column-gap: 5px;
            row-gap: 5px;
            max-width: 500px;
            margin-left: auto;
            
            input{
                grid-column: 1/-1;
                box-sizing: border-box;
                width: 100%;
                border: none;
                margin: 0 auto;
                padding: 10px 5px;
                border-radius: 10px;
            }
            button{
                background-color: $Pink;
                grid-column: 3/-1;
                color: #eee;
                display: inline-block;
                padding: 10px 5px;
                height: 100%;
                border-radius: 10px;
                margin-left: auto;
                
                margin-right: 0;
                border: none;
                font-weight: bolder;
                width: 100%;
                max-width: 300px;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: normal;
                

            }
        }
    }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.statics{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    .item{
        grid-column: span 1;
    }
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .curved.curved-mobile{
        display: none !important;
    }
    .curved.curved-desktop{
        display: block;
    }
    .grow-together,.conversation,.users{
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: contain;
        p{
            margin: 0;
        }
        .container{
            
            @include Mypadding();
            display: grid;
            text-align: left;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            align-items: center;
            justify-content: center;
            grid-row-gap: 100px;

        }
        .text{
            grid-column: span 1;
            grid-row: span 1 ;
            width: 100%;
        }
        .image{
            grid-column: span 1;
            grid-row: span 1 ;
            width: 90%;
        }
    }
    
    .grow-together,.users{
        background-color: $Very-Pale-Blue;
    }
    .conversation{
        .text{
            grid-column:2/3;
            grid-row: 1;
        }
    }
    footer{
        .News-letter{
            color: $Very-Pale-Blue;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 0;
            line-height: 1.7;
        }
        p{
            margin-top: 0;
        }
        .col-1{
            grid-column: 1;
            grid-row: 1;
            ul.contact{
                list-style: none;
                margin: 25px;
                line-height: 3;
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 15px;
                    }
                }
            
                
            }
            .social{
                display: flex;
                gap: 10px;
                font-size: 30px;
            }
    
        }
        .col-2{
            grid-column: 2;
            grid-row: 1;

            .subscribe{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-column-gap: 5px;
                max-width: 500px;
                margin-right: auto;
                margin-left: 0;
                
                input{
                    grid-column: 1/span 3;
                    box-sizing: border-box;
                    width: 100%;
                    border: none;
                    margin: 0 auto;
                    padding: 10px 5px;
                    border-radius: 10px;
                }
                button{
                    background-color: $Pink;
                    grid-column: 4/span 1;
                    color: #eee;
                    display: inline-block;
                    padding: 10px 5px;
                    height: 100%;
                    border-radius: 10px;
                    margin-left: auto;
                    
                    margin-right: 0;
                    border: none;
                    font-weight: bolder;
                    width: 100%;
                    max-width: 300px;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: normal;
                    
    
                }
            }
        }
    }
	}
	
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

	
}