/*
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700
### Body
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-size: 1.35rem;
  padding: 0;
  background-color: #fff;
  margin: 0;
  font-family: 'Open Sans' ,tahoma, sans-serif;
  text-align: center;
}

input:hover, button:hover {
  cursor: pointer;
  opacity: 0.7;
}

h1, h2, h3 {
  color: #00252e;
  font-family: Poppins, 'Open Sans' ,tahoma, sans-serif;
}

p {
  line-height: 2;
  max-width: 500px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 200px;
}

header button {
  color: #ff52bf;
  border: 1px solid #ff52bf;
  background-color: transparent;
  display: block;
  padding: 5px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1px #ff52bf;
          box-shadow: 0 0 1px #ff52bf;
  text-transform: capitalize;
}

header button:hover {
  cursor: pointer;
}

.hero {
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
  gap: 15px;
}

.hero p {
  color: #00252e;
}

.hero button {
  background-color: #ff52bf;
  color: #eee;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
          box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
  font-weight: bolder;
}

.statics {
  display: -ms-grid;
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 100px;
  margin: auto auto;
  max-width: 1200px;
}

.statics .img-screen-mockups {
  width: calc(0.65*100vw);
  max-width: calc(0.65*$container-max);
  grid-column: 1/-1;
}

.statics .item {
  text-align: left;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: span 1;
  color: #00252e;
}

.statics .item h3 {
  font-size: 72px;
  margin: 0;
}

.statics .item h4 {
  font-weight: lighter;
  text-align: center;
  color: #999;
}

.curved {
  width: 100%;
  margin: -2px;
  padding: 0;
  display: block;
}

.curved-desktop {
  display: none;
}

.grow-together, .conversation, .users {
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: contain;
}

.grow-together p, .conversation p, .users p {
  margin: 0 auto;
}

.grow-together .container, .conversation .container, .users .container {
  grid-row-gap: 100px;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1200px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.grow-together .text, .conversation .text, .users .text {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.grow-together .image, .conversation .image, .users .image {
  grid-column: 1/-1;
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.grow-together, .users {
  background-color: #f5faff;
}

.ready-to-build {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 0;
}

.ready-to-build .get-started {
  background-color: #ff52bf;
  color: #eee;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
          box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
  font-weight: bolder;
}

footer {
  background-color: #00252e;
  color: #f5faff;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  row-gap: 100px;
  line-height: 2;
  margin-top: 0;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

footer .logo {
  size: 10%;
}

footer .logo path {
  fill: white;
}

footer .News-letter {
  color: #f5faff;
  text-transform: uppercase;
  font-weight: 300;
}

footer .col {
  text-align: left;
}

footer .col-1 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  grid-row: 2;
}

footer .col-1 ul.contact {
  list-style: none;
  margin: 25px;
  line-height: 3;
  padding: 0;
}

footer .col-1 ul.contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .col-1 ul.contact li img {
  margin-right: 15px;
}

footer .col-1 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 30px;
}

footer .col-1 .social a {
  color: #f5faff;
  padding: 0;
}

footer .col-1 .social a:hover {
  cursor: pointer;
}

footer .col-1 .social a:hover .facebook {
  color: #4267B2;
}

footer .col-1 .social a:hover .twitter {
  color: #1DA1F2;
}

footer .col-1 .social a:hover .instagram {
  color: #f15245;
}

footer .col-2 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer .col-2 .subscribe {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  row-gap: 5px;
  max-width: 500px;
  margin-left: auto;
}

footer .col-2 .subscribe input {
  grid-column: 1/-1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 10px;
}

footer .col-2 .subscribe button {
  background-color: #ff52bf;
  grid-column: 3/-1;
  color: #eee;
  display: inline-block;
  padding: 10px 5px;
  height: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0;
  border: none;
  font-weight: bolder;
  width: 100%;
  max-width: 300px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .statics {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .statics .item {
    grid-column: span 1;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .curved.curved-mobile {
    display: none !important;
  }
  .curved.curved-desktop {
    display: block;
  }
  .grow-together, .conversation, .users {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: contain;
  }
  .grow-together p, .conversation p, .users p {
    margin: 0;
  }
  .grow-together .container, .conversation .container, .users .container {
    padding-left: 5%;
    padding-right: 5%;
    display: -ms-grid;
    display: grid;
    text-align: left;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 100px;
  }
  .grow-together .text, .conversation .text, .users .text {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
  }
  .grow-together .image, .conversation .image, .users .image {
    grid-column: span 1;
    grid-row: span 1;
    width: 90%;
  }
  .grow-together, .users {
    background-color: #f5faff;
  }
  .conversation .text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  footer .News-letter {
    color: #f5faff;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.7;
  }
  footer p {
    margin-top: 0;
  }
  footer .col-1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  footer .col-1 ul.contact {
    list-style: none;
    margin: 25px;
    line-height: 3;
    padding: 0;
  }
  footer .col-1 ul.contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .col-1 ul.contact li img {
    margin-right: 15px;
  }
  footer .col-1 .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 30px;
  }
  footer .col-2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  footer .col-2 .subscribe {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    max-width: 500px;
    margin-right: auto;
    margin-left: 0;
  }
  footer .col-2 .subscribe input {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    border: none;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 10px;
  }
  footer .col-2 .subscribe button {
    background-color: #ff52bf;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
    color: #eee;
    display: inline-block;
    padding: 10px 5px;
    height: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    border: none;
    font-weight: bolder;
    width: 100%;
    max-width: 300px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: normal;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
/*# sourceMappingURL=style.css.map */